{% extends 'registration/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1>Registration Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <h2>{{msg}}</h2>
            </div>
            <h4 style="color: white;">{{paymentDataId}}</h4>
        </div>
    </div>
{% endblock %}
