{% extends 'registration/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1>Registration Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <form role="form" action="" method="POST" class="registration-form">
                    <fieldset id="1">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 1 / 3</h3>
                                <p>Insert personal information:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label class="sr-only" for="form-first-name">First name</label>
                                <input type="text" name="first-name" placeholder="First name..."
                                    class="form-first-name form-control" id="form-first-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-last-name">Last name</label>
                                <input type="text" name="last-name" placeholder="Last name..."
                                    class="form-last-name form-control" id="form-last-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-telephone">Last name</label>
                                <input type="text" name="telephone" placeholder="Telephone..."
                                    class="form-telephone form-control" id="form-telephone">
                            </div>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>

                    <fieldset id="2">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 2 / 3</h3>
                                <p>Insert address information:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label class="sr-only" for="form-street">Street</label>
                                <input type="text" name="street" placeholder="Street..."
                                    class="form-street form-control" id="form-street">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-house-number">House number</label>
                                <input type="text" name="house-number" placeholder="House number..."
                                    class="form-house-number form-control" id="form-house-number">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-zip-code">Zip code</label>
                                <input type="text" name="zip-code" placeholder="Zip code..."
                                    class="form-zip-code form-control" id="form-zip-code">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-city">City</label>
                                <input type="text" name="city" placeholder="City..."
                                    class="form-city form-control" id="form-city">
                            </div>

                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>

                    <fieldset id="3">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 3 / 3</h3>
                                <p>Insert payment information:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label class="sr-only" for="form-account-owner">Account owner</label>
                                <input type="text" name="account-owner" placeholder="Account owner..."
                                    class="form-account-owner form-control" id="form-account-owner">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-iban">IBAN</label>
                                <input type="text" name="iban" placeholder="IBAN..."
                                    class="form-iban form-control" id="form-iban">
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="submit" class="btn">Sign me up!</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
